@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico');

$background-color: rgb(242, 243, 190);
$blue: rgb(197, 233, 251);
$green: rgb(197, 221, 135);
$terracota: rgb(244, 154, 115);
$yellow: rgb(239, 240, 140);
$red: rgb(240, 83, 84);
$brown: rgb(224, 178, 137);
$dark-grey: rgb(59, 62, 64);
$light-grey: rgb(107, 108, 108);
$almost-white: rgb(238, 238, 238);

@mixin circle($size, $color) {
  position: absolute;
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
}

html {
  background: radial-gradient(white 15%, transparent 16%), radial-gradient(#EBDBBD 15%, transparent 16%), #F6F4E8;
  background-position: 0 0, 60px 60px;
  background-size: 24px 24px;
}

p {
	font-size: 25px;
}

.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
}

.book-shelf {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 60%;
  height: 1.5%;
  border: 3px solid #3b3e40;
  border-radius: 4px;
  background-color: #e0b289;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 90%;
    width: 3%;
    height: 118%;
    border-radius: 50%;
    background-color: #6b6c6c;
    border: 3px solid #3b3e40;
    z-index: -1;
  }

  &:before {
    left: 4%;
  }

  &:after {
    left: 90%;
  }
}

.book {
  position: absolute;
  width: 2%;
  height: 9%;
  border: 3px solid #3b3e40;
  top: 50%;
  left: 31%;
  border-radius: 6%;
  background-color: #ff6f7a;
}

.book:before {
  content: '';
  position: absolute;
  left: -3px;
  right: -3px;
  height: 10%;
  border: 3px solid #3b3e40;
  top: 7%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.book:after {
  content: '';
  background-color: #3b3e40;
  position: absolute;
  left: -3px;
  right: -3px;
  top: 80%;
  height: 3px;
}

.book:nth-of-type(2) {
  background-color: #b2e5fa;
  left: 34%;
}

.book:nth-of-type(3) {
  background-color: #e2ec83;
  transform: rotate(-30deg);
  left: 39%;
  height: 8%;
  top: 51%;
}

.book:nth-of-type(4) {
  background-color: #bde585;
  transform: rotate(90deg);
  height: 8%;
  top: 54%;
  left: 25%;
}

.speech-bubble {
  width: 8%;
  height: 8%;
  border: 3px solid #3b3e40;
  background-color: rgb(255, 255, 255);
  top: 30%;
  left: 40%;
  position: absolute;
  border-radius: 40%;
  border-bottom-right-radius: 10%;
}

.heart {
  background-color: #f05354;
  position: absolute;
  height: 51%;
  width: 31%;
  border-radius: 50%;
}

.smiley:after {
  content: '';
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #f05354;
  right: 14%;
  top: 10%;
  width: 75%;
  height: 75%;
  background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg');
}

.elephant {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 41%;
  left: 45%;
}

.body {
  position: absolute;
  width: 66%;
  height: 59%;
  background-color: #c5e9fb;
  border: 3px solid #3b3e40;
  border-top-left-radius: 42%;
  top: 20%;
  left: 9%;
}

.leg {
  position: absolute;
  width: 25%;
  height: 21%;
  background-color: #c5e9fb;
  border: 3px solid #3b3e40;
  border-top: none;
  top: 99%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.leg-left {
  left: -3px;
}

.leg-right {
  left: 69%;
}

.leg-left-behind {
  z-index: -1;
  left: 4px;
  height: 14%;
  top: 105%;
}

.leg-right-behind {
  z-index: -1;
  transform: rotate(-50deg);
  left: 100%;
  top: 80%;
  width: 20%;
}

.head {
  position: absolute;
  left: 42%;
  height: 54%;
  width: 59%;
  background-color: #c5e9fb;
  border: 3px solid #3b3e40;
  border-radius: 27%;
  border-bottom-right-radius: 0;
  z-index: 2;
}

.trunk {
  position: absolute;
  width: 46%;
  height: 36%;
  border: 3px solid #3b3e40;
  border-top: none;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 30%;
  top: 86%;
  left: 48%;
  background-color: #c5e9fb;

  &:after {
  content: '';
  position: absolute;
  width: 32%;
  height: 50%;
  background-color: #c5e9fb;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 34%;
  border: 3px solid #3b3e40;
  border-bottom: none;
  top: -33%;
  left: -13%;
  }
}

.trunk-line {
  position: absolute;
  top: -62%;
  left: 85%;
  width: 20%;
  height: 20%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #3b3e40;
}

.trunk-line:nth-child(2) {
  top: -23%;
  width: 36%;
  left: 77%;
}

.trunk-line:nth-child(3) {
  top: 21%;
}

.eye {
  position: absolute;
  width: 12%;
  height: 13%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: rgb(255, 255, 255);
  top: 32%;
  left: 45%;
  border: 3px solid #3b3e40;
}

.eye:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 105%;
  background-color: #3b3e40;
  border-radius: 50%;
  top: 40%;
  left: 40%;
}

.plant {
  width: 8%;
  height: 20%;
  position: absolute;
  top: 41%;
  left: 69%;
  z-index: 1;
}

.pot {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  clip-path: polygon(0% 0%, 10% 100%, 90% 100%, 100% 0%);
  background-color: rgb(255, 148, 107);
}

.pot-container {
  position: absolute;
  top: 62%;
  left: 7%;
  height: 34%;
  width: 100%;
  background-color: #3b3e40;
  clip-path: polygon(0% 0%, 10% 100%, 90% 100%, 100% 0%);
  content: '';
  z-index: -1;
}

.pot-top {
  position: absolute;
  top: 54%;
  width: 98%;
  border-radius: 30%;
  border: 3px solid #3b3e40;
  background-color: #ff946b;
  height: 6%;
}

.stem {
  background-color: #3b3e40;
  height: 48%;
  width: 3px;
  position: absolute;
  left: 52%;
  top: 8%;
}

.leaf {
  background-color: #bde585;
  width: 46%;
  height: 11%;
  border: 3px solid #3b3e40;
  border-radius: 50%;
  transform: rotate(15deg);
  position: absolute;
  top: -6%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.leaf:nth-child(2) {
  top: 20%;
}

.leaf:nth-child(3) {
  top: 10%;
  left: 54%;
  transform: rotate(290deg);

}

.elephant-style {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

@dark-green: #51853C;
@green: #95CB70;
@light-green: #C3E1AE;
@blush: #8DAA61;

body {
  background: radial-gradient(white 15%, transparent 16%), radial-gradient(#EBDBBD 15%, transparent 16%), #F6F4E8;
  background-position: 0 0, 60px 60px;
  background-size: 24px 24px;
}

.pickle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:after {
    display: block;
    content: '';
    position: relative;
    right: 2px;
    bottom: 3px;
    width: 110%;
    height: 10px;
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    z-index: -2;
  }
}

.pickle {
  position: relative;
  width: 70px;
  height: 140px;
  background: @green;
  background: radial-gradient(@light-green 5%, transparent 6%), radial-gradient(rgba(255,255,255,0.5) 5%, transparent 6%), radial-gradient(rgba(255,255,255,0.2) 5%, transparent 6%), radial-gradient(rgba(255,255,255,0.4) 5%, transparent 6%), radial-gradient(rgba(255,255,255,0.7) 5%, transparent 6%), @green;
  background-position: 0 5px, 20px 30px, 50px 20px, 10px 10px, -8px 20px;
  background-size: 30px 30px;
  border: 9px solid @dark-green;
  border-top-left-radius: 100px 100%;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 100px 100%;
  border-bottom-right-radius: 70px;
  z-index: 1;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 65%;
    top: -20px;
    transform: rotate(20deg);
    width: 10px;
    height: 20px;
    background: @dark-green;
    border-radius: 10px;
  }
}

.face {
  position: absolute;
  top: 25px;
  left: 57%;
  transform: translateX(-50%);
  width: 65%;
  display: flex;
  justify-content: space-between;
  
  .left-eye, .right-eye {
    position: relative;
    width: 8px;
    height: 8px;
    background: @dark-green;
    border-radius: 100%;
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background: @blush;
      border-radius: 100%;
    }
  }
  .smile {
    width: 14px;
    height: 8px;
    border: 5px solid transparent;
    border-bottom-color: @dark-green;
    border-radius: 100%;
  }
}

.inner-bump {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 4px solid @dark-green;
  border-top-color: transparent;
  border-right-color: transparent;
  box-shadow: inset -4px 4px @light-green;
  &.uno {
    top: 40%;
    left: 40px;
  }
  &.dos {
    top: 52%;
    left: 15px;
  }
  &.tres {
    top: 62%;
    left: 45px;
  }
  &.cuatro {
    top: 75%;
    left: 22px;
  }
}

.bumps-left {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 30px;
  height: 30px;
  background: @dark-green;
  border-radius: 100%;
  z-index: -1;
  &:before, &:after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    background: @dark-green;
    border-radius: 100%;
  }
  &:before {
    position: absolute;
    top: 60px;
    left: -16px;
  }
  &:after {
    position: absolute;
    top: 120px;
    left: 12px;
  }
}

.bumps-right {
  position: absolute;
  top: 30px;
  left: 62px;
  width: 30px;
  height: 30px;
  background: @dark-green;
  border-radius: 100%;
  z-index: -1;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 70px;
    width: 30px;
    height: 30px;
    background: @dark-green;
    border-radius: 100%;    
  }
}

#name {
	font-size: 50px;
}

$background: #191919;
$red: #ed2f2f;
$blue: #00bbff;

body {
	margin: 0;
	padding: 0;
	background: $background;
}

.container {
	padding: 32px;
}

.reaction {
	position: relative;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	border: 3px solid #fff;
	float: left;
	margin-right: 16px;
	cursor: pointer;
	
	&:hover {
		transition: .05s;
		
		span {
			color: #fff;
		}
	}
	
	&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 3em;
			height: 3em;
			background: $background;
			border-radius: 100%;
			transition: .5s;
		}
	
	&:last-child {
		margin-right: 0;
	}
	
	span {
		position: absolute;
		top: 20%;
		left: calc(40% - 0.5px);
		z-index: 2;
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		transform: translate(-50%, -50%);
		transform: rotate(90deg);
		transition: .5s;
	}
	
	&-red {
		background: $red;
		border: 3px solid $red;
		
		span {
			color: $red;
		}
		
		&:hover {
			
			
			&:after {
				background: $red;
			}
		}
	}
	
	&-blue {
		background: $blue;
		border: 3px solid $blue;

		span {
			color: $blue;
		}
		
		&:hover {
			&:after {
				background: $blue;
			}
		}
	}
	
}
